﻿#titulo {
    font-family: 'Quicksand', sans-serif;
}
#arriba {
    position: relative;
    z-index:100;
}
label {
    color: gray;
}

input[type = "radio"] {
    display: none;
}
.clasificacion {
    direction: rtl; /* right to left */
    unicode-bidi: bidi-override; /* bidi de  bidireccional */
}
/*label:hover {
    color: orange;
}
label:hover ~ label {
        color: orange;
}*/
input[type = "radio"]:checked ~ label {
    color: orange;
}

#menorCal {
    color: orange;
}

#menorCal:hover ~ label {
        color: orange;
}

#mayorCal {
    color: orange;
}

#mayorCal:hover ~ label {
    color: orange;
}
