﻿@page
@model FastshippingCar.Web.Pages.Categorias.CrearCategoriaModel
@{
    ViewData["Title"] = "crearCategoria";
}
<div class="container py-3">
    <div class="col-md-12">
        <h1 class="text-center" id="titulo">Crear categoria</h1>
        <form method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Crear</label>
                    <input class="form-control" id="inputEmail4" asp-for="Categoria.Nombre">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Descripción</label>
                    <input class="form-control" id="inputEmail4" asp-for="Categoria.Descripcion">
                </div>
                <div class="btn-group mx-auto" role="group">
                    <button type="submit" class="btn btn-lg btn-success">Crear</button>
                    <button type="submit" class="btn btn-lg btn-danger" href="/Index">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
