﻿@using Common;
@inject FastshippingCar.Web.Services.Interfaces.IRolService rol
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - FastshippingCar.Web</title>
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/blog.css" rel="stylesheet">
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">

    @*<style>

            .texto3d {
                font: bold 50px/1 arial;
                text-transform: uppercase;
                color: #ffffff;
                text-shadow: 0 2px 0 #000000, 0 4px 0 #000000, 0 6px 0 #000000, 0 8px 0 #000000, 0 10px 0 #000000, 0 12px 0 #000000, 3px 8px 15px rgb(255, 0, 0), 3px 8px 5px #000000;
            }
        </style>*@

</head>
<body>
    @{
        var infoRol = await rol.RolUsuario();
    }
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    @if (!Helpers.IsAutentication(User))
                    {
                        <a class="btn btn-sm btn-outline-secondary" href="/RegistroUsuario">Registrarse</a>
                    }
                </div>

                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" href="/Index"><h1 id="titulo" class="texto3d">FastShippingCar</h1><span class="lnr lnr-cart"></span></a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">

                    @if (!Helpers.IsAutentication(User))
                    {
                        <a class="btn btn-sm btn-outline-secondary" href="/Login">Ingresar</a>
                    }
                </div>
                @*@if (Helpers.IsAutentication(User))
                {
                    <div class="col-1 text-left">
                        <a class="btn btn-sm btn-outline-secondary" href="/Login">Cerrar Sesion</a>
                    </div>
                }*@
            </div>

            <nav class="navbar navbar-expand-lg navbar-light" id="titulo">
                @if (Helpers.IsAutentication(User))
                {
                    @*<a class="navbar-brand disabled" href="/ActualizarUsuario">@Helpers.UserName(User)<span class="lnr lnr-user"></span></a>
            <button class="navbar-toggler" disabled type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@

                    <div class="dropdown">

                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="lnr lnr-user"></span>&nbsp; @Helpers.UserName(User)
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/ActualizarUsuario">Modificar usuario</a>
                            <a class="dropdown-item" href="/Login">Cerrar sesión</a>
                        </div>
                    </div>
                    



                }

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        @if (infoRol != null && infoRol.Opciones != null)
                        {
                            @foreach (var opcion in infoRol?.Opciones)
                            {
                                if (opcion.Opciones is null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="@opcion.Url">@opcion.Descripcion</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="@opcion.Url" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @opcion.Descripcion
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            @foreach (var subOpcion in opcion.Opciones)
                                            {
                                                <a class="dropdown-item" href="@subOpcion.Url">@subOpcion.Descripcion</a>
                                            }
                                        </div>
                                    </li>
                                }
                            }
                        }
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><span class="lnr lnr-magnifier"></span></button>
                    </form>
                </div>
            </nav>
        </header>

    </div>

    <main role="main" class="">
        @RenderBody()
    </main>


    <footer class="border-top footer text-muted">
        <div class="container">

        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)



</body>
</html>
