﻿@page
@model FastshippingCar.Web.Pages.ActualizarUsuarioModel
@{
    ViewData["Title"] = "ActualizarUsuario";
}



<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/">

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(function () {
            $('#indicadorContrasena').change(function () {
                if (!$(this).prop('checked')) {
                    $('#dvOcultar').hide();
                    $('#contrasena').val('');
                } else {
                    $('#dvOcultar').show();
                    $('#contrasena').val('');
                }
            })

            $('#dvOcultar').hide(); //oculto mediante id


            //$('#actualizar').click(function () {
            //    if ($('#contrasena').val) {
            //       return alert("Por favor digite la contraseña");
                    
            //    }               
            //})



        })
    </script>

</head>

<body>

    <div class="container:" style="margin-left:120px">


        <h1 id="titulo" style="margin-left:440px" class="h3 mb-3 font-weight-normal">Actualizar Usuario:</h1>


        <form method="post" style="margin-left:200px">
            <div class="text-danger"></div>
            <div class="form-group" style="margin-left:100px">
                <label for="usr">Nombre *:</label>
                <input style="width:500px" class="form-control" id="nombre" placeholder="nombre" name="nombre" asp-for="Usuario.Nombre">
                <span class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left:100px">
                <label for="usr">Apellido *:</label>
                <input type="text" style="width:500px" class="form-control" id="apellido" placeholder="Apellido" name="apellido" asp-for="Usuario.Apellido">
            </div>
            <div class="form-group" style="margin-left:100px">
                @*<label for="email">Correo *:</label>*@
                <input type="hidden" style="width:500px" class="form-control" id="correo" placeholder="Correo" name="email" asp-for="Usuario.Email">
            </div>

            <div class="form-group" style="margin-left:100px">
                <label for="usr"> Documento de Identificacion *:</label>
                <input type="text" style="width: 500px" class="form-control " id="numeroDocumento" placeholder="Documento Identificacion" name="numeroDocumento" asp-for="Usuario.NumeroDocumento">
            </div>
            <div class="form-group" style="margin-left:100px">
                <label for="usr">Teléfono *:</label>
                <input type="text" style="width:500px" class="form-control" id="telefono" placeholder="Telefono" name="telefono" asp-for="Usuario.Telefono">
            </div>

            <div class="form-group" style="margin-left:100px">
                <label for="usr">Dirección *:</label>
                <input type="text" style="width:500px" class="form-control" id="telefono" placeholder="Telefono" name="direccion" asp-for="Usuario.Direccion">
            </div>


            <div class="form-group custom-checkbox" style="margin-left:125px">
                <input type="checkbox" class="custom-control-input" id="indicadorContrasena">
                <label class="custom-control-label" for="indicadorContrasena">Cambiar contraseña</label>

            </div>


            



            <div class="form-group" style="margin-left:100px" id="dvOcultar">
                <label for="pwd">Nueva Contraseña *:</label>
                <input type="password" style="width:500px" class="form-control" id="contrasena" placeholder="Nueva Contraseña " name="contrasena" asp-for="Usuario.Contrasena">
            </div>



            @*<div class="form-group" style="margin-left:100px">
            <label for="pwd">Validar contraseña *:</label>
            <input type="password" style="width:500px" class="form-control" id="pwd" placeholder="Validar Contraseña " name="contrasena" asp-for="Usuario.Contrasena">

        </div>*@

            <button type="submit" style="margin-left:100px" id="actualizar" class="btn btn-primary">Actualizar </button>
            <button type="submit" class="btn btn-primary" href="  "> Cancelar </button>
        </form>
    </div>

</body>
</html>

