﻿@page
@model FastshippingCar.Web.Pages.CrearPreguntaModel
@{
    ViewData["Title"] = "CrearPregunta";
}

<div class="container py-3">
    <div class="col-md-12">
        <h1 class="text-center" id="titulo">Crear Pregunta</h1>
        <form method="post">
            <div class="form-row">
                <div class="form-group col-md-6 offset-md-3">
                    <label for="inputEmail4" id="titulo">Titulo</label>
                    <input class="form-control" id="inputEmail4" asp-for="PqrsPregunta.Titulo">
                </div>
                <div class="form-group col-md-6 offset-md-3">
                    <label for="DescripcionPregunta" id="titulo">Descripción</label>
                    <textarea class="form-control" id="DescripcionPregunta" rows="4" aria-describedby="passwordHelpBlock" asp-for="PqrsPregunta.Mensaje"></textarea>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        De una forma breve, de respuesta a la pregunta
                    </small>
                </div><br />
                <div class="col-lg-6 offset-md-3">
                    <div class="btn-group " role="group">
                        <button type="submit" class="btn btn-lg btn-success">Crear</button>
                        <button type="button" class="btn btn-lg btn-danger" href="/Index">Cancelar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>