﻿@page "{id}"
@model FastshippingCar.Web.Pages.detalleProductoModel
@{
    ViewData["Title"] = "detalleProducto";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>
        detalleProducto
    </title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--font titulo-->

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-8 h-75 d-inline-block">
                <br />
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">

                        </li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        @foreach (var imagen in Model.Producto.Imagenes.Select((x, i) => new { Index = i, Dato = x }))
                        {
                            <div class="carousel-item @(imagen.Index == 1 ? "active" : null)">
                                <img src="@(imagen.Dato)" class="d-block w-100" max-width="600" height="400">
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 h-100 d-inline-block">
                <h6 id="titulo" class="">Información del vendedor</h6>
                <div class="card" style="width: 18rem;">
                    <img src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg" width="80" height="180" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" id="titulo">@Model.Vendedor.Usuario?.Nombre @Model.Vendedor.Usuario?.Apellido</h5>
                        <p class="card-text">@Model.Vendedor.Vendedor?.TiendaId</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Contactar vendedor</a>

                    </div>
                </div>
            </div>
            <br />
            <!-- <div class="container">-->
            <div class="col-md-8">

                <a href="#" class="btn btn-outline-info btn-block" role="button" data-toggle="modal" data-target="#modalAñadirCarrito" aria-pressed="true"> Añadir producto <span class="lnr lnr-cart"></span></a>
            </div>
            
            <div class="col-md-2">
                <form method="post" asp-page-handler="adicionarFavorito" asp-route-id="@Model.Producto.Id">
                    <button type="button" class="btn btn-warning" >
                        <span class="lnr lnr-star"></span> Favorito
                    </button>
                </form>
            </div>


        </div>
        <hr />
        <div class="col-md-8">
            <div class="table table-bordered">
                <h3 id="titulo" class="text-center titulo">Información del producto</h3>
                <div class="bg-light clearfix">

                    <button class="btn btn-secundary float-right" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Ver / Ocultar</button>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="card card-body">
                                <h4 id="titulo">Caracteristicas</h4>
                                <ul>
                                    <li>Categoria:</li>
                                    Accion
                                    <li>Descripcion:</li>
                                    De lucha y peleas
                                    <li>Stock:</li>
                                    7 Unidades
                                    @if (Model.Producto.Caracteristicas != null)
                                    {
                                        @foreach (var caracteriscas in Model.Producto.Caracteristicas)
                                        {
                                            <li>@(caracteriscas.Nombre)</li>
                                            @foreach (var item in caracteriscas.Valores)
                                            {
                                                @(item.Key)
                                                @(item.Value)
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <hr />
                            <div class="card card-body">
                                <h4 id="titulo">Descripción</h4>
                                <ul>
                                    @if (Model.Producto.ProductoDetalles != null)
                                    {
                                        @foreach (var detalle in Model.Producto.ProductoDetalles)
                                        {
                                            <li>@(detalle.Titulo)</li>
                                            @(detalle.Descripcion)
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalAñadirCarrito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Desea añadir este producto al carrito?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Confirmar
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" href="/detalleProducto" data-dismiss="modal">No</a>
                    @*<a class="btn btn-primary" href="/misProductos">Si</a>*@
                    <button form="formAñadirCarrito" type="submit" class="btn btn-primary" href="/misProductos" disabled="@(!FastshippingCar.Web.Common.Helpers.IsAutentication(User))">Si</button>
                </div>
            </div>
        </div>
        <form id="formAñadirCarrito" method="post" class="d-none">
            <input name="Id" asp-for="Producto.Id" />
        </form>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formContactarVendedor" method="post" asp-page="ContactarVendedor" asp-route-id="@Model.Producto.Id">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Asunto</label>
                            <input asp-for="ContactarVendedor.Asunto" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Mensaje</label>
                            <textarea asp-for="ContactarVendedor.Mensaje" class="form-control" id="message-text"></textarea>
                        </div>
                        <input asp-for="ContactarVendedor.VendedorId" class="d-none" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                    <button form="formContactarVendedor" type="submit" class="btn btn-primary">Enviar Mensaje</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
