﻿@page
@model FastshippingCar.Web.Pages.EditarPreguntaModel
@{
    ViewData["Title"] = "EditarPregunta";
}

<div class="container py-3">
    <h3 id="titulo" class="text-center">Editar Preguntas</h3>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#Id</th>
                        <th scope="col">Pregunta</th>
                        <th scope="col">Respuesta</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pqrs in Model.PqrsPreguntas)
                    {
                        <tr>
                            <th scope="row">@(pqrs.Id)</th>
                            <td>@(pqrs.Titulo)</td>
                            <td>@(pqrs.Mensaje)</td>
                            <td>
                                <form method="get" asp-page="/ActualizarPregunta" asp-route-id="@pqrs.Id"><button class="btn btn-success" name="Editar"> <span class="lnr lnr-pencil"></span></button></form>
                                <form method="get" asp-page="/EliminarPregunta" asp-route-id="@pqrs.Id"><button class="btn btn-danger" name="Borrar"> <span class="lnr lnr-trash"></span></button></form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>