﻿@page
@model IndexModel
@using System.Globalization
@{
    ViewData["Title"] = "Home page";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Album example · Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/album.css" rel="stylesheet">
</head>
<body>
    <main>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    @foreach (var producto in Model.Productos)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img src="@producto.Producto.Imagenes.FirstOrDefault()" class="d-block w-100">
                                <div class="card-body">
                                    @if (producto.Producto.Porcentaje != 0)
                                    {
                                        <p class="card-text">@producto.Producto.Nombre <span class="badge badge-danger">@producto.Producto.Porcentaje% Descuento</span></p>
                                        <form>
                                            <p class="clasificacion">
                                                <input id="radio1" type="radio" name="estrellas" @(((int)producto.ProductoPuntuacion) == 5 ? "checked" : null) value="5" disabled>
                                                <label id="calificacion" for="radio1">★</label>
                                                <input id="radio2" type="radio" name="estrellas" @(((int)producto.ProductoPuntuacion) == 4 ? "checked" : null) value="4" disabled>
                                                <label id="calificacion" for="radio2">★</label>
                                                <input id="radio3" type="radio" name="estrellas" @(((int)producto.ProductoPuntuacion) == 3 ? "checked" : null) value="3" disabled>
                                                <label id="calificacion" for="radio3">★</label>
                                                <input id="radio4" type="radio" name="estrellas" @(((int)producto.ProductoPuntuacion) == 2 ? "checked" : null) value="2" disabled>
                                                <label id="calificacion" for="radio4">★</label>
                                                <input id="radio5" type="radio" name="estrellas" @(((int)producto.ProductoPuntuacion) == 1 ? "checked" : null) value="1" disabled>
                                                <label id="calificacion" for="radio5">★</label>
                                            </p>
                                        </form>
                                    }
                                    else
                                    {
                                        <p class="card-text">@producto.Producto.Nombre</p>
                                    }
                                    <p class="card-text">@producto.Producto.Resumen</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-outline-secondary" href="/detalleProducto/@(producto.Producto.Id)">Ver Producto</a>
                                        </div>
                                        @if (producto.Producto.Porcentaje != 0)
                                        {
                                            <small class="text-muted"><strike>@producto.Producto.Precio.ToString("C", CultureInfo.CurrentCulture)</strike></small>
                                            <small class="text-muted">@((producto.Producto.Precio - (producto.Producto.Precio * ((decimal)producto.Producto.Porcentaje / 100))).ToString("C", CultureInfo.CurrentCulture))</small>
                                        }
                                        else
                                        {
                                            <small class="text-muted">@producto.Producto.Precio.ToString("C", CultureInfo.CurrentCulture)</small>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p> &copy; Cualquier informacion contactarse al siguiente correo: soportefastshippingcar@gmail.com</p>
            <p> <a href="/Index">Visitar el inicio de la pagina</a> Home <a href="../getting-started/introduction/">Guias</a>.</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="../assets/dist/js/bootstrap.bundle.js"></script>
</body>
</html>
