﻿@page
@model FastshippingCar.Web.Pages.informacionPagoModel
@using System.Globalization
@{
    ViewData["Title"] = "informacionPago";
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 id="titulo">Información de pago</h3><br />
            <form id="formPago" method="post" asp-page-handler="pagar" >
                <fieldset class="form-group">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-check">
                                <div data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                                    <input class="form-check-input" checked type="radio" name="gridRadios" id="gridRadios1" value="option1">
                                    <label class="form-check-label" for="gridRadios1">

                                        <b id="titulo"> Tarjeta de crédito</b>
                                        <img src="~/img/tarjetas-mercadopago (1).jpeg" width="200" height="18" alt="" />

                                    </label>
                                </div>
                                <div class="collapse multi-collapse" id="multiCollapseExample1">
                                    <div class="card card-body border-0">

                                        <div class="form-grup">
                                            <div class="row">
                                                <b id="titulo">Numero de tarjeta</b>
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="número de tarjeta">
                                                </div>
                                            </div>
                                            <div class="row py-1">
                                                <b id="titulo">Fecha de caducidad</b>
                                                <div class="col">
                                                    <select class="form-control">
                                                        <option>Mes</option>
                                                        <option>Mayo</option>
                                                        <option>Junio</option>
                                                        <option>Julio</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <select class="form-control">
                                                        <option>Año</option>
                                                        <option>2020</option>
                                                        <option>2021</option>
                                                        <option>2022</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row py-1">
                                                <b id="titulo">Nombre del titular</b>
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="titular de la tarjeta">
                                                </div>
                                            </div>
                                            <div class="row py-1">
                                                <b id="titulo">CCV <small class="text-muted"> últimos digitos en la parte posterior</small> </b>
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="row py-1">
                                                <b id="titulo">Documento</b>
                                                <div class="col-md-3">
                                                    <select class="form-control">
                                                        <option>CC</option>
                                                        <option>CC</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" placeholder="titular de la tarjeta">

                                                </div>
                                            </div>
                                            <div class="row py-1">
                                                <b id="titulo">Cuotas</b>
                                                <div class="col">
                                                    <select class="form-control">
                                                        <option>1</option>
                                                        <option>3</option>
                                                        <option>5</option>
                                                        <option>8</option>
                                                        <option>12</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                    <b id="titulo"> Pago con débito - PSE</b>
                                    <img src="~/img/logo-pse.png" width="25" alt="" />
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <input name="merchantId" type="hidden" asp-for="FormularioPago.MerchantId">
                <input name="accountId" type="hidden" asp-for="FormularioPago.AccountId">
                <input name="description" type="hidden" asp-for="FormularioPago.Description">
                <input name="referenceCode" type="hidden" asp-for="FormularioPago.ReferenceCode">
                <input name="amount" type="hidden" asp-for="FormularioPago.Amount">
                <input name="tax" type="hidden" asp-for="FormularioPago.Tax">
                <input name="taxReturnBase" type="hidden" asp-for="FormularioPago.TaxReturnBase">
                <input name="currency" type="hidden" asp-for="FormularioPago.Currency">
                <input name="signature" type="hidden" asp-for="FormularioPago.Signature">
                <input name="test" type="hidden" asp-for="FormularioPago.Test">
                @foreach (var carrito in Model.CarritoCompras)
                {
                    <input type="hidden" name="IdCarrito[]" value="@(carrito.Id)" />
                }
            </form>
            <h3 id="titulo">Terminos y condiciones</h3><br />
            <p class="text-muted text-justify">
                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
            </p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Aceptar
                </label>
            </div>
            <div class="text-center">
                <button type="submit" form="formPago" class="btn btn-lg btn-outline-success">
                    <span class="lnr lnr-lock"></span> Finalizar Compra
                </button>
            </div>
        </div>
        <div class="col md-4">
            <h3 class="" id="titulo">Resumen del pedido</h3>
            @foreach (var producto in Model.Productos)
            {
                <div class="card mb-3" style="max-width: 340px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="@(producto.Imagenes.FirstOrDefault())" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" id="titulo">@producto.Nombre</h5>
                                <p class="card-text" id="titulo"><b>Precio</b>: @producto.Precio.ToString("C", CultureInfo.CurrentCulture)</p>

                            </div>
                        </div>

                    </div>
                </div>
            }
            <br />
            <div class="row">
                <div class="col-md-6">
                    <p class="text-left" id="titulo"><b>Subtotal</b></p>
                </div>
                <div class="col-md-6">
                    <p class="text-right text-muted">@Model.FormularioPago.Amount.ToString("C", CultureInfo.CurrentCulture)</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <p class="text-left" id="titulo">Gastos de envío</p>
                </div>
                <div class="col-md-6">
                    <p class="text-right text-muted float-lg-right">@Model.FormularioPago.SendCost.ToString("C", CultureInfo.CurrentCulture)</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <p class="text-left" id="titulo"><b>Total</b></p>
                </div>
                <div class="col-md-6">
                    <p class="text-right">@((Model.FormularioPago.Amount + Model.FormularioPago.SendCost).ToString("C", CultureInfo.CurrentCulture))</p>
                </div>
            </div>
        </div>
    </div>
</div>

