﻿@page
@model FastshippingCar.Web.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
@Html.Raw(TempData["msg"]);
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/">

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form class="form-signin" method="post">
                    <div class="text-center">

                        <h1 id="titulo" class="h3 mb-3 font-weight-normal">Inicio de Sesión:</h1>

                    </div>
                    <div class="form-label-group">
                        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Ingresar Correo" required autofocus>
                        <label for="inputEmail"></label>
                    </div>

                    <div class="form-label-group">
                        <input type="password" id="inputPassword" name="contrasena" class="form-control" placeholder="Ingresar Contraseña" required>
                        <label for="inputPassword"></label>
                    </div>


                    <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
                    <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

