﻿@page
@model FastshippingCar.Web.Pages.MisPedidosModel
@{
    ViewData["Title"] = "MisPedidos";
}
<div class="container py-3">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-light" role="alert">
                <h4 class="alert-heading" id="titulo">Productos adquiridos<span class="badge badge-info">@(Model.HistorialProductos?.Count ?? 0)</span> </h4>
                @if (Model.HistorialProductos != null)
                {
                    @foreach (var producto in Model.HistorialProductos)
                    {

                        <div class="card mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title" id="titulo">@producto.HistorialCompra.Producto.Nombre</h5>
                                        <p class="card-text">@producto.HistorialCompra.Producto.Resumen</p>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    @switch (producto.HistorialCompra.EstadoCompra)
                                    {
                                        case Models.Enums.EstadoCompra.PendientePago:
                                            <label>Estado: Pendiente de pago</label>
                                            break;
                                        case Models.Enums.EstadoCompra.PendienteEnvio:
                                            <label>Estado: Pendiente de envio</label>
                                            break;
                                        case Models.Enums.EstadoCompra.PagoCancelado:
                                            <label>Estado: Cancelado</label>
                                            break;
                                        case Models.Enums.EstadoCompra.PedidoEnviado:
                                            <label>Estado: Enviado</label>
                                            break;
                                        case Models.Enums.EstadoCompra.Finalizado:
                                            <label>Estado: Finalizado</label>
                                            break;
                                    }
                                </div>
                                <div class="col-md-4 py-1 pr-2">
                                    <img src="@(producto.HistorialCompra.Producto.Imagenes.FirstOrDefault())" class="card-img" alt="...">
                                </div>

                            </div>
                            <br /><br /><br />
                            <div class="row">
                                <div class="col-md-4 py-4 pl-5">
                                    <form method="post">
                                        <input type="hidden" asp-for="HistorialCompra.Id" value="@(producto.HistorialCompra.Id)" />
                                        @if (producto.HistorialCompra.EstadoCompra == Models.Enums.EstadoCompra.PendienteEnvio)
                                        {
                                            <button type="submit" class="btn btn-danger" asp-page-handler="cancelar">Cancelar Pedido</button>
                                        }
                                    </form>
                                </div>
                                <div class="col-md-4 ">
                                    <h6 id="titulo">Califica este producto</h6>
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <form method="get">
                                            <button type="submit" class="btn btn-secondary @(((int)producto.ProductoPuntuacion) == 1 ? "active" : null)" asp-page-handler="calificar" asp-route-id="@(producto.HistorialCompra.ProductoId)" asp-route-valor="1">1</button>
                                            <button type="submit" class="btn btn-secondary @(((int)producto.ProductoPuntuacion) == 2 ? "active" : null)" asp-page-handler="calificar" asp-route-id="@(producto.HistorialCompra.ProductoId)" asp-route-valor="2">2</button>
                                            <button type="submit" class="btn btn-secondary @(((int)producto.ProductoPuntuacion) == 3 ? "active" : null)" asp-page-handler="calificar" asp-route-id="@(producto.HistorialCompra.ProductoId)" asp-route-valor="3">3</button>
                                            <button type="submit" class="btn btn-secondary @(((int)producto.ProductoPuntuacion) == 4 ? "active" : null)" asp-page-handler="calificar" asp-route-id="@(producto.HistorialCompra.ProductoId)" asp-route-valor="4">4</button>
                                            <button type="submit" id="mayorCal" class="btn btn-secondary @(((int)producto.ProductoPuntuacion) == 5 ? "active" : null)" asp-page-handler="calificar" asp-route-id="@(producto.HistorialCompra.ProductoId)" asp-route-valor="5">5</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h6 id="titulo" class="">
                                        Promedio
                                    </h6>
                                    <b>3,8</b>
                                </div>
                            </div>
                        </div>
                        <hr />


                    }
                }




            </div>
        </div>



    </div>

</div>

