﻿@page
@model FastshippingCar.Web.Pages.misProductosModel
@using System.Globalization
@{
    ViewData["Title"] = "misProductos";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 border border-info">
            <div class="alert alert-light" role="alert">
                <h4 class="alert-heading" id="titulo">Mis Productos <span class="badge badge-info">@(Model.Productos?.Count ?? 0)</span> </h4>
                @if (Model.Productos != null)
                {
                    @foreach (var producto in Model.Productos)
                    {
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title" id="titulo">@producto.Nombre</h5>
                                        <p class="card-text">@producto.Resumen</p>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <img src="@(producto.Imagenes.FirstOrDefault())" class="card-img" alt="...">
                                </div>
                            </div>
                        </div>
                        <!--<form>
                <p class="clasificacion">
                    <input id="radio1" type="radio" name="estrellas" value="5">
                    <label id="calificacion" for="radio1">★</label>
                    <input id="radio2" type="radio" name="estrellas" value="4">
                    <label id="calificacion" for="radio2">★</label>
                    <input id="radio3" type="radio" name="estrellas" value="3">
                    <label id="calificacion" for="radio3">★</label>
                    <input id="radio4" type="radio" name="estrellas" value="2">
                    <label id="calificacion" for="radio4">★</label>
                    <input id="radio5" type="radio" name="estrellas" value="1">
                    <label id="calificacion" for="radio5">★</label>
                </p>
            </form>-->
                        
                        }
                }
                <hr>
                <p class="mb-0">Aplican terminos y condiciones.</p>
            </div>
            </div>
        <div class="col-md-4">
            <h4 id="titulo" class="text-center"> Resumen de tu compra </h4>
            <table class="table table-dark table-borderless">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">Total</td>
                        <td scope="col">@Model.Productos.Sum(x => x.Precio).ToString("C", CultureInfo.CurrentCulture)</td>
                    </tr>
                    <tr>
                        <td scope="col">Descuento</td>
                        <td>@Model.Productos.Sum(x => (long)(x.Precio * ((decimal)x.Porcentaje / 100))).ToString("C", CultureInfo.CurrentCulture)</td>
                    </tr>
                    <tr>
                        <td scope="col">Valor a pagar</td>
                        <td>@Model.Productos.Sum(x => (long)(x.Precio - (x.Precio * ((decimal)x.Porcentaje / 100)))).ToString("C", CultureInfo.CurrentCulture)</td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <div class="text-center">
                <button form="payu" class="btn btn-lg btn-outline-success">
                    <span class="lnr lnr-lock"></span> Compra segura
                </button>
            </div>
        </div>
    </div>
</div>

<form id="payu" method="post" asp-page="/informacionPago" class="d-none">
    <input type="hidden" asp-for="FormularioPago.MerchantId">
    <input type="hidden" asp-for="FormularioPago.AccountId">
    <input type="hidden" asp-for="FormularioPago.Description">
    <input type="hidden" asp-for="FormularioPago.ReferenceCode">
    <input type="hidden" asp-for="FormularioPago.Amount">
    <input type="hidden" asp-for="FormularioPago.Tax">
    <input type="hidden" asp-for="FormularioPago.TaxReturnBase">
    <input type="hidden" asp-for="FormularioPago.Currency">
    <input type="hidden" asp-for="FormularioPago.Signature">
    <input type="hidden" asp-for="FormularioPago.Test">
    @*<input name="responseUrl" type="hidden" value="/Index">
        <input name="confirmationUrl" type="hidden" value="/misProductos">*@
</form>
