﻿@page
@model FastshippingCar.Web.Pages.PreguntasFrecuentesModel
@{
    ViewData["Title"] = "PreguntasFrecuentes";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 py-4">
            <h3 id="titulo" class="text-center">
                Preguntas Frecuentes <small>(FAQs)</small>
            </h3>
        </div>
        <div class="col-md-3">
            <div id="list-example" class="list-group">
                @foreach (var pqrs in Model.PqrsProductos.Select((d, i) => new { Index = i, Dato = d }))
                {
                    <a class="list-group-item btn list-group-item-action bg-info border-light border-top text-light" href="#list-item-@(pqrs.Index)"><strong> @(pqrs.Dato.Titulo)</strong> </a>
                }
            </div>
        </div>
        <div class="col-md-9">
            <div data-spy="scroll" id="titulo" data-target="#list-example" data-offset="0" class="scrollspy-example">
                @foreach (var pqrs in Model.PqrsProductos.Select((d, i) => new { Index = i, Dato = d }))
                {
                    <h4 id="list-item-@(pqrs.Index)">@(pqrs.Dato.Titulo)</h4>
                    <p class="text-justify text-break">
                        @(pqrs.Dato.Mensaje)
                    </p>
                    <hr />
                }
            </div>
        </div>
    </div>
</div>