﻿@page
@model FastshippingCar.Web.Pages.RegistroUsuarioModel
@{
    ViewData["Title"] = "RegistroUsuario";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Login</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/">
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet">
   
</head>

<body>

    <div class="container: " style="margin-left:120px">
        <h1 id="titulo" style="margin-left:440px" class="h3 mb-3 font-weight-normal">Registrar Usuario:</h1>
        <form method="post" style="margin-left:200px">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-left:100px">
                <label for="usr">Nombre *:</label>
                <input asp-for="Usuario.Nombre" type="text" style="width:500px" class="form-control" id="nombre" placeholder="nombre">
                <span asp-validation-for="Usuario.Nombre" class="text-danger"></span>
            </div>
            <div class="text-danger"></div>
            <div class="form-group" style="margin-left:100px">
                <label for="usr">Apellido *:</label>
                <input asp-for="Usuario.Apellido" type="text" style="width:500px" class="form-control" id="apellido" placeholder="Apellido">
                <span asp-validation-for="Usuario.Apellido" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-left:100px">
                <label for="email">Correo *:</label>
                <input asp-for="Usuario.Email" type="email" style="width:500px" class="form-control" id="correo" placeholder="Correo">
                <span asp-validation-for="Usuario.Email" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-left:100px">
                <label for="usr"> Documento de Identificacion *:</label>
                <input asp-for="Usuario.NumeroDocumento" type="text" style="width: 500px" class="form-control" id="numeroDocumento" placeholder="Documento Identificacion">
                <span asp-validation-for="Usuario.NumeroDocumento" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-left:100px">
                <label for="usr">Telefono *:</label>
                <input asp-for="Usuario.Telefono" type="text"  style="width:500px" class="form-control" id="telefono" placeholder="Telefono">
                <span asp-validation-for="Usuario.Telefono" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-left:100px">
                <label for="usr">Dirección *:</label>
                <input asp-for="Usuario.Direccion" type="text" style="width:500px" class="form-control" id="direccion" placeholder="Dirección">
                <span asp-validation-for="Usuario.Direccion" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-left:100px">
                <label for="pwd">Contrasena *:</label>
                <input asp-for="Usuario.Contrasena" style="width:500px" class="form-control" placeholder="Contrasena ">
                La contrasena debe ser mayor a 8 caracteres alfanumericos.
                <span asp-validation-for="Usuario.Contrasena" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-left:100px">
                <label for="pwd">Validar contraseña *:</label>
                <input asp-for="Usuario.ConfirmarContrasena" style="width:500px" class="form-control" placeholder="Validar Contraseña">
                <span asp-validation-for="Usuario.ConfirmarContrasena" class="text-danger"></span>
            </div>
            <button type="submit" style="margin-left:100px" class="btn btn-primary">Registrar </button>
            <button type="submit" class="btn btn-primary" href="/Index"> Cancelar </button>
        </form>
    </div>

</body>
</html>

