﻿@page
@model FastshippingCar.Web.Pages.Tiendas.CrearTiendaModel
@{
    ViewData["Title"] = "crearTienda";
}
<div class="container py-3">
    <div class="col-md-12">
        <h1 class="text-center" id="titulo">Crear Tiendas</h1>
        <form method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Nombre</label>
                    <input class="form-control" id="" asp-for="Tienda.Nombre">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Ciudad</label>
                    <input class="form-control" id="" asp-for="Tienda.Ciudad">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Dirección</label>
                    <input class="form-control" id="" asp-for="Tienda.Direccion">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Teléfono</label>
                    <input class="form-control" id="" asp-for="Tienda.Telefono">
                </div>
                <div class="btn-group mx-auto" role="group">
                    <button type="submit" class="btn btn-lg btn-success">Crear</button>
                    <button type="submit" class="btn btn-lg btn-danger" href="/Index">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
