﻿@page
@model FastshippingCar.Web.Pages.EditarTiendaModel 
@{
    ViewData["Title"] = "editarTienda";
}

<div class="container py-3">
    <h3 id="titulo" class="text-center">Editar Tiendas</h3>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tiendas)
                    {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Nombre</td>
                        <td>@item.Ciudad</td>
                        <td>@item.Direccion</td>
                        <td>@item.Telefono</td>
                        <td>
                            <form method="get" asp-page="/Tiendas/actualizarTienda" asp-route-id="@item.Id"><button class="btn btn-success" name="Editar"> <span class="lnr lnr-pencil"></span></button></form>
                            <form method="get" asp-page="/Tiendas/eliminarTienda" asp-route-id="@item.Id"><button class="btn btn-danger" name="Borrar"> <span class="lnr lnr-trash"></span></button></form>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



